.blog-summaries{
    display: grid;
    grid-gap: 10px; 
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 10px;
}

.blog-summary{
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    padding: 15px;
}

.category-tag-1 {
    color: blue;
}

.category-tag-2 {
    color: green;
}

.blog-title{
    margin: 5px 0 1px 0;
}