.blog-page{
    display: flex;
    flex-direction: row;
    gap:20px;
    padding: 20px;
}

.blog-details{
    flex: 2;
    padding: 20px;
}

.right-column-blog{
    flex: 1;
    padding: 20px;
}


.blog-title{
    margin-bottom: 0px;
}

.date-blog-details{
    color: lightslategray;
}

.date-blog-details a {
    margin-top: 0;
    margin-left: 5px;
}
.p-summary{
    margin-bottom: 25px;
}

.p-has-borderline{
    border: 1px solid #e0e0e0;
}

pre {
    border: 1px solid #e0e0e0; /* This applies a 1px solid black border */
  
}